<!doctype html>
  <section class="action-buttons">
    <div class="container">
      <div class="action-buttons-left">
        <button>See the sources</button>
      </div>
      <div class="action-buttons-right">
        <button>Explore more</button>
      </div>
    </div>
  </section>

  <footer class="poll-footer">
    <div class="container">
      <div class="footer-copyright">
        <img src="images/cc.png" alt="CC 4.0 BY"> 2014 Creative Commons. Attribution CC BY 4.0, Open Source in MIT ( X11 )
      </div>
      <div class="footer-logo">
      </div>
    </div>
  </footer>

  <script src="javascripts/jquery.js"></script>
  <script src="javascripts/jquery.easypiechart.js"></script>
  <script src="javascripts/index.js"></script>
  <!-- <script src="javascripts/slides.js"></script> -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</body>
</html>