<!doctype html>
<% include _header.ejs %>
<br>
<div class="row">
  <div class="col-sm-3 col-md-3 col-lg-3">
    <p>
      Step 1 <br>
      Choose the contract you want
    </p>
    <br><br><br><br><br><br><br><br><br><br><br><br><br>
    <p>
      Step 2 <br>
      Enter amount you deposit 
    </p>  
  </div>
  <div class="col-sm-9 col-md-9 col-lg-9">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="bs-component">
          <table class="table table-striped table-hover ">
            <thead>
              <tr>
                <th>Currency</th>
                  <th>USD/JPY</th>
                  <th>EUR/JPY</th>
                  <th>AUD/JPY</th>
                  <th>GBP/JPY</th>
                  <th>NZD/JPY</th>
                  <th>ZAR/JPY</th>
                  <th>CNY/JPY</th>
              </tr>
            </thead>
            <tbody>
              <tr class="info">
                <td>7 days</td>
                <td>rate</td>
                <td>rate</td>
                <td>rate</td>
                <td>rate</td>
                <td>rate</td>
                <td>rate</td>
                <td>rate</td>
              </tr>
              <tr class="info">
                <td>14 days</td>
                <td>rate</td>
                <td>rate</td>
                <td>rate</td>
                <td>rate</td>
                <td>rate</td>
                <td>rate</td>
                <td>rate</td>
              </tr>
              <tr class="info">
                <td>1 month</td>
                <td>rate</td>
                <td>rate</td>
                <td>rate</td>
                <td>rate</td>
                <td>rate</td>
                <td>rate</td>
                <td>rate</td>
              </tr>
              <tr class="info">
                <td>2 months</td>
                <td>rate</td>
                <td>rate</td>
                <td>rate</td>
                <td>rate</td>
                <td>rate</td>
                <td>rate</td>
                <td>rate</td>
              </tr>
              <tr class="info">
                <td>6 months</td>
                <td>rate</td>
                <td>rate</td>
                <td>rate</td>
                <td>rate</td>
                <td>rate</td>
                <td>rate</td>
                <td>rate</td>
              </tr>
              <tr class="info">
                <td>1 year</td>
                <td>rate</td>
                <td>rate</td>
                <td>rate</td>
                <td>rate</td>
                <td>rate</td>
                <td>rate</td>
                <td>rate</td>
              </tr>
              <tr>
                <td>2 years</td>
                <td>rate</td>
                <td>rate</td>
                <td>rate</td>
                <td>rate</td>
                <td>rate</td>
                <td>rate</td>
                <td>rate</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    <div class="row">
      <div class="form-group col-sm-5 col-md-5 col-lg-5">
        <label class="control-label" for="focusedInput">Amount</label>
        <input class="form-control" id="focusedInput" type="text" value="Enter your deposit amount">
      </div>
      <div class="col-sm-5 col-md-5 col-lg-5">
        <p id="least_amount">At least:</p>
        <p> 30000 Yen</p>
      </div>
      <button type="submit" class="left btn btn-primary btn-lg">
        Calculate
      </button>
      <br>      
    </div>
  </div>
</div>

<br>      
<br>      
<br>      

<div class="row">
  <div class="col-sm-3 col-md-3 col-lg-3">
    <p>
      Step 3 <br>
      See the result 
    </p>  
  </div>

  <div class="col-sm-9 col-md-9 col-lg-9">
        <div class="form-group">
          <table class="table table-striped table-hover ">
            <thead>
              <tr>
                <th>Due Date</th>
                  <th>Times</th>
                  <th>Forward Rate</th>
                  <th>Expect income</th>
                  <th>Return rate</th>
                  <th>Risk rate</th>
              </tr>
            </thead>
            <tbody>
              <tr class="info">
                <td>2016.08.15</td>
                <td>1</td>
                <td>rate</td>
                <td>rate</td>
                <td>rate</td>
                <td>rate</td>
              </tr>
              <tr class="info">
                <td>2016.08.15</td>
                <td>2</td>
                <td>rate</td>
                <td>rate</td>
                <td>rate</td>
                <td>rate</td>
              </tr>
              <tr class="info">
                <td>2016.08.15</td>
                <td>3</td>
                <td>rate</td>
                <td>rate</td>
                <td>rate</td>
                <td>rate</td>
              </tr>
              <tr class="info">
                <td>2016.08.15</td>
                <td>4</td>
                <td>rate</td>
                <td>rate</td>
                <td>rate</td>
                <td>rate</td>
              </tr>
              <tr class="info">
                <td>2016.08.15</td>
                <td>5</td>
                <td>rate</td>
                <td>rate</td>
                <td>rate</td>
                <td>rate</td>
              </tr>
              <tr class="info">
                <td>2016.08.15</td>
                <td>6</td>
                <td>rate</td>
                <td>rate</td>
                <td>rate</td>
                <td>rate</td>
              </tr>
              <tr>
                <td>2016.08.15</td>
                <td>7</td>
                <td>rate</td>
                <td>rate</td>
                <td>rate</td>
                <td>rate</td>
              </tr>
            </tbody>
          </table>   
        </div>
  </div>

</div>

  <div class="col-sm-1 col-md-1 col-lg-1">
  </div>
  </div>

<% include _footer.ejs %>